<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>GSPNE</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
		<a class="navbar-brand" href="/">GSPNE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			</ul>
		</div>
		<button type="button" class="btn btn-success">Cerrar Sesion</button>
	</nav>
	
	<div class="container text-center">
	<div>
	
	
		<h1 th:if="${producto.id == null}">Crear Producto</h1>
		<h1 th:unless="${producto.id == null}">Editar Producto</h1>
	</div>
	<form th:action="@{/producto/guardar}" th:object="${producto}" method="post" style="max-width:600px;margin:0 auto;">
	<input type="hidden" th:field="*{id}" th:value="producto.id"/>
	<div class="m-3">
	
		<div class="form-group row">
		<label class="col-form-lael col-sm-4">Nombre :</label>
		<div class="col-sm-8">
		<input type="text" th:field="*{nombre}" class="form-control" required/>
		</div>
		</div>
		
		<div class="form-group row">
		<label class="col-form-lael col-sm-4">Valor :</label>
		<div class="col-sm-8">
		<input type="text" th:field="*{valor}" class="form-control" required/>
		</div>
		</div>
		
		<div class="form-group row">
		<label class="col-form-lael col-sm-4">Estado :</label>
		<div class="col-sm-8">
		<input type="text" th:field="*{estado}" class="form-control" required/>
		</div>
		</div>
		
		<div class="form-group row">
		<label class="col-form-lael col-sm-4">Fecha Vencimiento :</label>
		<div class="col-sm-8">
		<input type="date" th:field="*{fechavencimiento}" class="form-control" required/>
		</div>
		</div>
		
		
		<div class="form-group row">
		<label class="col-form-label col-sm-4">Categoria :</label>
		<div class="col-sm-8">
		<select th:field="*{categoria}" class="form-control"required>
		<th:block th:each="categoria : ${listaCategorias}">
		<option th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
		</th:block>
		</select>
		</div>
	</div>
		
		
		
		<div class="text-center p">
		<button type="submit" class="btn btn-primary">Guardar</button>
		</div>
	</div>
	
	</form>
	
	</div>
	
	
	
</body> 
</html>