<!-- Hola -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>GSPNE</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
		<a class="navbar-brand" href="/">GSPNE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
			</ul>
		</div>
		<button type="button" class="btn btn-success">Cerrar Sesion</button>
	</nav>

<div class="container text-center">
	<div>
		<h1>Lista de Ordenes De Compra</h1>
	<br>
	
	<table class="table table-striped table-dark">
  <thead>
    <tr>
     <th>Id</th>
     <th>Cantidad</th>
     <th>Total</th>
     <th>Estado</th>
     <th>Fecha Ingreso</th>
     <th>Productos</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="ordencompra : ${listaOrdencompras}">
      <td th:text="${ordencompra.id}"></td>
      <td th:text="${ordencompra.cantidad}"></td>
      <td th:text="${ordencompra.total}"></td>
      <td th:text="${ordencompra.estado}"></td>
      <td th:text="${ordencompra.fechaentrada}"></td>
      <td th:text="${ordencompra.productos}"></td>
      <!-- <td>
      <a th:href="@{'/categoria/editar'+'/'+ ${categoria.id}}" class="btn btn-info">Editar</a>
      <a th:href="@{'/categoria/eliminar'+'/'+ ${categoria.id}}" class="btn btn-danger">Eliminar</a>
      </td>
      -->
    </tr>
  </tbody>
</table>
	</div>
	
	</div>
	
</body> 
</html>